@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --primaryColor: #6070ff;
}

body {
  background-color: white;
}

@media (max-width: 380px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 24px;
    height: 30px;
  }

  .logo {
    font-family: "Poppins" Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--primaryColor);
    line-height: 20px;
    cursor: pointer;
  }

  .navbar i {
    font-weight: 800;
    color: var(--primaryColor);
    cursor: pointer;
  }
}
